<div class="encabezado">
    <h2 class="titulo">Chat</h2>
    {{>menu}}
</div>
<div class="encabezadoF"></div>


<div class="conteiner">
    <input type="text" id="mensaje" placeholder="Introduce un mensaje...">
    <div id="mensajes"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>