<h1>Chat</h1>

<div class="conteiner">
    <input type="text" id="mensaje" placeholder="Introduce un mensaje...">
    <div id="mensajes"></div>
</div>

<a class="realtimeproducts" href="/realtimeproducts">Lista de productos</a>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>