<div class="encabezado">
    <h2 class="titulo">Olvidé mi Contraseña</h2>
    {{>menu}}
</div>
<div class="encabezadoF"></div>

<div class="divForm">
    <form onsubmit="forgotPassword(event)" id="formForgotPassword" class="form">
        <input type="email" name="email" placeholder="Email" class="formInput" required>
        <p class="note">Se enviará un email con un link para restablecer la contraseña.</p>
        <button type="submit" class="btn btn-primary formButton">Enviar Email</button>
    </form>
        <a href="/login" class="reset">Volver</a>

</div>

<script src="js/sessions.js"></script>
