<div class="encabezado">
    <h2 class="titulo">Bienvenido al ecommerce de Überwinden</h2>
    {{>menu}}
</div>
<div class="encabezadoF"></div>

<p class="home">Inicia Sesión para poder realizar una compra...</p>