<div class="encabezado">
    <h2 class="titulo">Registro de Usuario</h2>
    {{>menu}}
</div>
<div class="encabezadoF"></div>

<form class="formRegister" onsubmit="register(event)" id="formRegister">
    <input class="formInput" type="text" name="name" placeholder="Nombre" required>
    <input class="formInput" type="email" name="email" placeholder="Email" required>
    <input class="formInput" type="password" name="password" placeholder="Contraseña" required>
    <button type="submit" class="btn btn-primary formButton">Registrar</button>
</form>

<script src="js/sessions.js"></script>
