<div class="encabezado">
    <h2 class="titulo">Restablecer Contraseña</h2>
    {{>menu}}
</div>
<div class="encabezadoF"></div>

<input type="text" value="{{token}}" hidden id="token">

<div class="divForm">
    <form onsubmit="resetPassword(event)" id="formResetPassword" class="form">
        <input type="password" name="password" placeholder="Nueva contraseña" class="formInput" required>
        <button type="submit" class="btn restablecer btn-primary formButton">Restablecer</button>
    </form>

</div>


<script src="js/sessions.js"></script>