* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
} 

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.home{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    color: blueviolet;
    animation: salto 1.5s infinite;

}

@keyframes salto {
    0% {
        transform: translate(0);
    }
    10% {
        transform: translate(-5px , 0px);
    }
    20% {
        transform: translate(5px , 0px);
    }
    40% {
        transform: translate(-5px , 0px);
    }
    50% {
        transform: translate(5px , 0px);
    }
    100% {
        transform: translate(0px);
    }
}



.ws{
    background-color: rgb(213, 113, 243);
}

.realtimeproducts, .chat {
    display: flex;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    width: 300px;
}   

.realtimeproducts:hover, .chat:hover {
    background-color: #0056b3;
}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin: 10px 100px;
    gap: 20px;
}

#mensaje{
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(218, 219, 218);

}

#mensajes{
    width: 90%;
    height: 350px;
    background-color: rgb(218, 219, 218);
    padding: 30px;
    border: 3px solid rgb(113, 113, 113);
    overflow: auto;
}

.mensaje{
    background-color: rgb(70, 233, 70);
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
}

.encabezado{
    background-color: rgb(186, 234, 247);
    height: 60px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    padding: 10px;
}

.encabezadoF{
    height: 70px;
}

.titulo{
    text-align: center;
    color: rgb(35, 35, 35);
}

.liMenu{
    color: rgb(240, 82, 137);
}

.menu{
    display: flex;
    position: absolute;
    right: 50px;
    transform: translate(0%, -50%);
    top: 50%;
    gap: 20px;
}

.msjBienvenida{
    text-align: center;
    color: rgb(131, 105, 233);
}

.contenedor{
    width: 95%;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: auto, 0;
    gap: 5px;
}
.card{
    width: 320px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(254, 250, 247);    
}

.card-text{
    height: 100%;
}
.card-description{
    font-size: 14px;
    text-align: start;
}

.list-group-item{
    background-color: rgb(254, 250, 247);
}

.paginacion{
    display: flex;
    gap: 5px;
    margin: 30px 0 15px 0;
    justify-content: center;
}

.pagBotton{
    background-color: #007bff;
    width: 80px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.page{
    font-size: 20px;
}

.contenedorArticulo{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    margin-top: 80px;
}

.liCart{
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin: 2px 0;
    padding: 0 0 0 15px;
}

.tituloCart{
    font-size: 15px;
    font-weight: bold;
}

.vacio{
    background-color: rgb(208, 208, 239);
    text-align: center;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(185, 56, 150);
    border-radius: 2px;
}

.articulos{
    background-color: rgb(208, 208, 239);
    border-radius: 2px;
    height: 60px;
}

.artProducto{
    font-weight: bold;
}

.cantidad{
    display: flex;
    gap: 15px;
}

.btnq{
    width: 30px;
    height: 30px;
    padding: 0;
}

.divForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 400px;
    height: 330px;
    background-color: rgb(204, 186, 234);
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    gap: 15px;
    border-radius: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 100%;
    gap: 10px;
}

.formRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    gap: 10px;
    width: 400px;
    height: 380px;
    background-color: rgb(204, 186, 234);
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
}

.formInput{
    padding: 8px;
    background-color: rgb(223, 213, 240);
    border-radius: 10px;
    width: 100%;
}

.formButton{
    margin-top: 10px;
    width: 150px;
}

.github{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.github:hover{
    color: darkslategrey;
    text-shadow: 2px 2px 7px rgb(255, 255, 255);
}

.imgGithub{
    width: 30px;
}

.botonComprar{
    display: flex;
    margin: auto;
    margin-top: 20px;
}

.note{
    text-align: center  ;
}

.reset{
    color: #6526c2;
}

.reset:hover{
    color: #9a64e9;
}

.restablecer{
    margin-top: 60px;
}

.contenedorUsers{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.liUsers{
    display: grid;
    grid-template-columns: repeat(2, 2fr) repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin: 2px 0;
    padding: 0 0 0 15px;
}

.tituloUsers{
    font-size: 15px;
    font-weight: bold;
}