* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
} 

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 40px;
}

.ws{
    background-color: rgb(213, 113, 243);
}

.realtimeproducts, .chat {
    display: flex;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    width: 300px;
}   

.realtimeproducts:hover, .chat:hover {
    background-color: #0056b3;
}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin: 10px 100px;
    gap: 20px;
}

#mensaje{
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(218, 219, 218);

}

#mensajes{
    width: 90%;
    height: 350px;
    background-color: rgb(218, 219, 218);
    padding: 30px;
    border: 3px solid rgb(113, 113, 113);
    overflow: auto;
}

.mensaje{
    background-color: rgb(70, 233, 70);
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
}

.encabezado{
    background-color: rgb(186, 234, 247);
    height: 60px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    padding: 10px;
}

.tituloProductos{
    text-align: center;
    color: rgb(35, 35, 35);
}

.carrito{
    font-size: 20px;
    position: absolute;
    color: rgb(116, 120, 241);
    right: 100px;
    transform: translate(-50%, -50%);
    top: 50%;
}

.contenedor{
    width: 95%;
    margin: auto;
    margin-top: 75px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: auto, 0;
    gap: 5px;
}
.card{
    width: 320px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(254, 250, 247);    
}

.card-text{
    height: 100%;
}
.card-description{
    font-size: 14px;
    text-align: start;
}

.list-group-item{
    background-color: rgb(254, 250, 247);
}

.paginacion{
    display: flex;
    gap: 5px;
    margin: 30px 0 15px 0;
    justify-content: center;
}

.pagBotton{
    background-color: #007bff;
    width: 80px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.page{
    font-size: 20px;
}

.contenedorArticulo{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    margin-top: 80px;
}

.liCart{
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin: 2px 0;

}

.titulo{
    font-size: 15px;
    font-weight: bold;
}

.articulos{
    background-color: rgb(208, 208, 239);
    border-radius: 2px;
    height: 60px;
}

.artProducto{
    font-weight: bold;
}

.cantidad{
    display: flex;
    gap: 15px;
}

.btnq{
    width: 30px;
    height: 30px;
    padding: 0;
}